<!-- <div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card">
      <nb-card-header>Some Fruits</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="list-card" size="small">
      <nb-card-header>Users</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let user of users">
          <nb-user [name]="user.name" [title]="user.title">
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div> -->
<nb-card>
  <nb-card-header>Progress Bar Interactive</nb-card-header>
  <nb-card-body>
    <div class="container">
      <nb-actions size="medium">
        <nb-action icon="nb-arrow-down" (click)="setValue(value - 25)"></nb-action>
      </nb-actions>
      <nb-progress-bar [value]="value" [status]="status" [displayValue]="true"></nb-progress-bar>
      <nb-actions size="medium">
        <nb-action icon="nb-arrow-up" (click)="setValue(value + 25)"></nb-action>
      </nb-actions>
    </div>
  </nb-card-body>
</nb-card>

